.ant-form-item-explain.ant-form-item-explain-error {
  // min-height: 18px !important;

  div[role='alert'] {
    color: rgb(187, 36, 36);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
  }
}
// .ant-form-item {
//   margin-bottom: 0px !important;
// }

.ant-btn-loading {
  background: rgba(39, 88, 144, 1) !important;
  &::before {
    background: rgba(255, 255, 255, 0.2) !important;
  }
}
input:-internal-autofill-selected {
  background-color: white !important;
}
img {
  width: 100%;
  height: auto;
}
