.ant-form-item-explain.ant-form-item-explain-error {
  div[role='alert'] {
    color: rgba(235, 21, 21, 0.938);
    font-size: 14px;
    font-weight: 400;
  }
}
.ant-form-item {
  margin-bottom: 0 !important;
}
