@import './variable';
.ant-form-item-explain.ant-form-item-explain-error {
  // min-height: 18px !important;

  div[role='alert'] {
    color: rgb(187, 36, 36);
    font-size: 15px;
    font-weight: 600;
    // text-align: center;
    margin-top: 5px;
  }
}
// .ant-form-item {
//   margin-bottom: 0px !important;
// }

.ant-btn-loading {
  background: rgba(39, 88, 144, 1) !important;
  &::before {
    background: rgba(255, 255, 255, 0.2) !important;
  }
}
input:-internal-autofill-selected {
  background-color: white !important;
}
img {
  width: 100%;
  height: auto;
}
.ant-layout-sider-dark {
  background: $darkBlue !important;
}
.ant-layout-sider-light {
  background: $lightBlue !important;
}
.ant-menu-dark {
  background: $darkBlue !important;
}
.ant-menu-light {
  background: $lightBlue !important;
}
.ant-menu-submenu.ant-menu-submenu-inline {
  background: $lightBlue;
  .ant-menu-submenu-title {
    background: $lightBlue;
    margin: 0;
  }
}
.ant-menu.ant-menu-sub.ant-menu-inline[role='menu'] {
  background: #3781cc;
}

.ant-menu-item[role='menuitem'] {
  color: white;
  margin: 0;
}
.ant-menu-submenu-popup {
  display: none;
}

.ant-menu-inline-collapsed {
  background: $lightBlue !important;
}
aside.ant-layout-sider {
  box-shadow: 0 1px 2px -2px rgba(117, 117, 117, 0.16),
    0 3px 6px 0 rgba(34, 33, 33, 0.12), 0 0px 8px 0px rgba(78, 78, 78, 0.9);
}
.ant-layout-sider-trigger {
  background: #3781cc !important;

  span[role='img'] {
    svg {
      fill: white;
    }
  }
}
.ant-layout-header {
  background: $darkBlue;
}
.featuredImg_uploader {
  .ant-upload {
    width: 128px;
    height: 128px;
  }
}
.uploadContainer {
  .formUpload {
    .ant-col.ant-form-item-control {
      .ant-form-item-control-input-content {
        display: flex;
        justify-content: center;
      }
      .ant-form-item-explain.ant-form-item-explain-error {
        div[role='alert'] {
          text-align: center;
        }
      }
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
.ant-footer-modal_custom {
  .ant-modal-content {
    .ant-modal-footer {
      display: none;
    }
  }
}
